[mysqld]
# Configuration pour source de données
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
default_time_zone = '+00:00'

# Performance
innodb_buffer_pool_size = 128M
max_connections = 30

# Logs pour debug ETL futur
general_log = 1
general_log_file = /var/lib/mysql/query.log